body {
    padding-top: 40px;
    padding-bottom: 10px;
}
.col-sm-10 input {
   width: 35em;
   min-width: 10em;
}

.xop-form-control{display:block; padding:6px 12px; font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.xop-form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.xop-form-control::-moz-placeholder{color:#999;opacity:1}
.xop-form-control:-ms-input-placeholder{color:#999}
.xop-form-control::-webkit-input-placeholder{color:#999}
.xop-form-control[disabled],.xop-form-control[readonly],fieldset[disabled] .xop-form-control{cursor:not-allowed;background-color:#eee;opacity:1}
textarea.xop-form-control{width: 35em; height:25em}input[type=search]{-webkit-appearance:none}input[type=date]{line-height:34px}